
.toaster {
	position: absolute;
	background: url(sprites/toaster-sprite.gif);
	width: 64px;
	height: 64px
}

.toast {
	position: absolute;
	width: 64px;
	height: 64px;
	background: url(sprites/toast1.gif);
}
@keyframes flap{
	from { background-position:  0px; }
	to{ background-position: -256px;}
}
/* Toaster fly/translate sections*/
.animated{
	animation: flap .4s steps(4) infinite alternate, fly 10s linear infinite;
}
.t2{
	animation: flap .2s steps(4) infinite alternate, fly 10s linear infinite;
}
.t3{
	animation: flap .2s steps(4) infinite alternate-reverse, fly 18s linear infinite;
}
.t4{
	animation: flap .2s steps(4) infinite alternate, fly 25s linear infinite;
}

.toastfly{
	animation: fly 10s 6s linear infinite;
}
.toastfly2{
	animation: fly 15s 3s linear infinite;
}
.toastflyslow{
	animation:fly 20s 2s linear infinite;
}
.p1{right:10%; top:-10%;}
.p2 { right: -2%; top: -10%; }
.p3 { right: 10%; top: -18%; }
.p4 { right: 20%; top: -18%; }
.p5 { right: 30%; top: -13%; }
.p6 { right: 40%; top: -17%; }
@keyframes fly{
	from{ transform: translate(0,0);}
	to{transform: translate(-1600px, 1600px)}
}
html, body{
	background-color: black;
	margin: 0;

	overflow:hidden;
}